<div>
<form action="/upload/upload_mianliao_img_save" enctype="multipart/form-data" method="post">   
  <div style="float:left; padding:6px 10px 0px 8px"><input style="height:22px;width:190px;" id="file_file" name="file[file]" type="file" /> </div>
  <div style="float:left; padding:7px 0px 0px 0px"><input type="submit" value="上传" name="commit" class="btn1_mouseout" onmouseover="this.className='btn1_mouseover'" onmouseout="this.className='btn1_mouseout'" /></div>
</form>
</div>