
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>类别添加</title>
<link href="main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<script language="javascript" type="text/javascript">
function turnit(Aux)
{
 if (Aux.style.display=="none"){
   Aux.style.display="";
 } else{
   Aux.style.display="none";
 }
}

</script>

<form name="fm" id="fm" action="/casemanager/createsave/" method="post" enctype="multipart/form-data">

<table width="545" border="1" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td width="545"><label></label>
      <div align="left">颜色：
        <label>
        <input type="text" name="color" value="#"/>格式如#D3E5E9
        </label>
    </div></td>
    
  </tr>
  <tr>
    <td width="545"><label></label>
      <div align="left">色卡名：
        <label>
        <input type="text" name="title"/>
        </label>
    </div></td>
  </tr>
  
  <tr>
    <td align="center">
	<input type="submit" value="添 加 色 卡" onClick="javascript:return window.confirm('您确定要添加吗?');"/>
  </tr>
</table>
</form>
</body>
</html>
