<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>表单标题</title>
<link rel="stylesheet" type="text/css" href="/images/linxx_form/view.css" media="all">
<script type="text/javascript" src="/images/linxx_form/view.js"></script>

</head>
<body id="main_body" >

	<img id="top" src="/images/linxx_form/top.png" alt="">
	<div id="form_container">

		<h1><a>用户详情111111111</a></h1>
		<form id="form_68775" class="appnitro"  method="post" action="">
					<div class="form_description">
			<h2>用户详情</h2>
			<p>User Info</p>
		</div>
			<ul >

<%m = ["用户名","姓　名","性　别","职　务","专　家","简　介","电　话","MSN","Q Q"]%>
<%1.upto(m.length) do |i|%>
<li id="li_<%=i%>" >
	<div>
		<label class="description" for="element_<%=i%>"><%=m[i-1]%>：</label>　
        <input id="element_<%=i%>" name="element_<%=i%>" class="element text large" type="text" maxlength="255" value=""/>
	</div>
	<p class="guidelines" id="guide_<%=i%>"><small><%=m[i-1].gsub("　","")%>的说明</small></p>
</li>
<%end%>

<li class="section_break">
	<h3>和家网（上海）信息技术有限公司</h3>
	<p></p>
</li>

					<li class="buttons">
			    <input type="hidden" name="form_id" value="68775" />

				<input id="saveForm" class="button_text" type="button" value="关 闭" onclick="window.close();" />
		</li>
			</ul>
		</form>
		<div id="footer">
			Generated by <a href="http://www.51hejia.com">51hejia.com</a>
		</div>
	</div>
	<img id="bottom" src="/images/linxx_form/bottom.png" alt="">
	</body>
</html>