<div class="topmenu">
  <ul>
    <li><%= link_to "有奖知识闯关" ,{:action=>"index"} ,:class=>"topmenu_a1 topmenu_a1_cur"%></li>
    <li><a href="http://www.bardiss.com" target="_blank" class="topmenu_a2">巴迪斯官网</a></li>
    <li><a href="http://diaoding.51hejia.com/bardiss" target="_blank" class="topmenu_a3">集成吊顶品牌库</a></li>
    <li><a href="/huodong/bardiss/wuyi"   target="_self" class="topmenu_a4">五一活动</a></li>
    <li><a href="/huodong/bardiss/result" target="_self" class="topmenu_a5">获奖名单</a></li>
  </ul>
</div>
