<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>有奖知识闯关介绍-巴迪斯</title>
<link href="http://js.51hejia.com/css/bardiss.css?201004291823" rel="stylesheet" type="text/css" />
<script src="http://js.51hejia.com/js/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="http://js.51hejia.com/js/2010/focusImg.js"></script>

</head>
<body>
<div class="width840">
  <div class="topflash">
    <script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','840','height','271','src','http://js.51hejia.com/img/bardissimg/top','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','http://js.51hejia.com/img/bardissimg/top' ); //end AC code
</script>
    <noscript>
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="840" height="271">
      <param name="movie" value="http://js.51hejia.com/img/bardissimg/top.swf" />
      <param name="quality" value="high" />
      <embed src="http://js.51hejia.com/img/bardissimg/top.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="840" height="271"></embed>
    </object>
    </noscript>
  </div>
   <%= render :partial =>"nav"%>
</div>
<div class="width800 wenda_page1">
  <div class="wenda_tit">
    <h1>装修知识竞答-巴迪斯“五月抄底选购集结号”线上抽奖活动</h1>
  </div>
  <div class="wenda_txt f_l">
    <dl class="clearfix">
      <dt>活动时间：</dt>
      <dd>4月26日——5月8日</dd>
      <dt>活动内容：</dt>
      <dd>竞答包含了生活知识、巴迪斯产品知识二大类，竞答共一关，设置了10道问题。</dd>
      <dt>活动规则：</dt>
      <dd>每天每位注册会员只能参与竞答二次，竞答采取全部正确通过制，即只要您有一道题答错，游戏就会重新开始，问题也会随机变化，答题限时60秒。</dd>
      <dt class="fw_jp">活动奖品：</dt>
      <dt class="fw_n">1、排名奖：</dt>
      <dd>以通关所花费的时间为你的最终分数，进行排名，花费时间最少的前10名即可获得“依立煲汤锅”一台。
      	 第11名--20名可以获得“巴迪斯功能组合电器”一台。</dd>
      <dt class="fw_n">2、幸运奖：</dt>
      <dd>从4月26日开始，我们将每天抽取三名幸运者 。幸运者可获得巴迪斯精美的红酒伞一把或工具箱一套，
      	获奖名单将于4月30日和5月10日公布在网站上。</dd>
    </dl>
    <dl class="clearfix">
      <dt>领奖规则：</dt>
      <dd>全部答对的网友需要填写自己的姓名、手机和身份证号码。活动结束后，巴迪斯各地专卖店的工作人员将电话通知获奖网友，凭身份证号码前往领取奖品。</dd>
    </dl>
    <ul class="clearfix">
      <li><a href="http://www.bardiss.com" target="_blank"><img src="http://js.51hejia.com/img/bardissimg/go.gif" alt="了解巴迪斯" /></a></li>
      <li><%= link_to  image_tag("http://js.51hejia.com/img/bardissimg/start.gif"),{:action=>"wenda"} %></li>
      
      
      
    </ul>
  </div>
  <div class="wenda_sidebar f_r">
    <h3>闯关排行榜</h3>
    <div class="wenda_sidebar_txt">
      <div class="wenda_sidebar_img">
        <div id="f_div">
          <div id="f_imgDiv"> <a href="" target="_blank"><img alt="依立煲汤锅" border="0" src="http://js.51hejia.com/img/bardissimg/btg.jpg" /></a> <a href="http://b.51hejia.com/pinpaiku/20100406/629698" target="_blank"><img alt="巴迪斯工具箱" border="0" src="http://js.51hejia.com/img/bardissimg/gjb.jpg" /></a> <a href="http://b.51hejia.com/pinpaiku/20100326/629371" target="_blank"><img alt="巴迪斯精美的红酒伞" border="0" src="http://js.51hejia.com/img/bardissimg/s.jpg" /></a> <a href="http://b.51hejia.com/pinpaiku/20100326/629371" target="_blank"><img alt="巴迪斯照明灯" border="0" src="http://js.51hejia.com/img/bardissimg/zhdq.jpg" /></a></div>
          <div id="f_infoDiv">
            <!--数字按钮区域-->
            <div id="f_buttonDiv">
              <div class="bg"><a href="javascript:void(0)" class="" focusClass="on" normalClass="">1</a></div>
              <div class="bg"><a href="javascript:void(0)" class="" focusClass="on" normalClass="">2</a></div>
              <div class="bg"><a href="javascript:void(0)" class="" focusClass="on" normalClass="">3</a></div>
              <div class="bg"><a href="javascript:void(0)" class="" focusClass="on" normalClass="">4</a></div>
            </div>
          </div>
        </div>
        <div id="f_text"></div>
        <script>	
var a=new PicFocus("f_imgDiv", "f_text", "f_buttonDiv", "4000");
a.init();
a.play();
</script>
      </div>
      <div class="wenda_sidebar_award"><img src="http://js.51hejia.com/img/bardissimg/award.gif" /></div>
      <ul>
      	<%@top_participants .each_with_index do |participant,i|  -%>
        <li class="<%= 'wenda_sidebar_txtcolor' if i<=2 %>"><span>用时：<%=h participant.spent_time %> 秒 </span><%=h participant.name %></li>
        <% end -%>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>
</body>
</html>
