<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>浓情五一 巴迪斯“五月抄底选购集结号”情惠全民-巴迪斯</title>
<link href="http://js.51hejia.com/css/bardiss.css?201004291823" rel="stylesheet" type="text/css" />
<script src="http://js.51hejia.com/js/AC_RunActiveContent.js" type="text/javascript"></script>
</head>
<body>
<div class="width840">
  <div class="topflash">
    <script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','840','height','271','src','http://js.51hejia.com/img/bardissimg/top','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','http://js.51hejia.com/img/bardissimg/top' ); //end AC code
</script>
    <noscript>
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="840" height="271">
      <param name="movie" value="http://js.51hejia.com/img/bardissimg/top.swf" />
      <param name="quality" value="high" />
      <embed src="http://js.51hejia.com/img/bardissimg/top.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="840" height="271"></embed>
    </object>
    </noscript>
  </div>
   <%= render :partial =>"nav"%>
</div>
<div class="width800 chaod51_bg">
  <div class="chaod51">
    <h1>浓情五一 巴迪斯“五月抄底选购集结号”情惠全民</h1>
    <p>一年一度的传统佳节“五一劳动节”日益临近，这对于全国的消费者来说是一个特别美好的日子，朋友们既可以利用节假日独自旅行放松心情、又或者三五朋友品茗小聚，惬意舒畅。当然，如果你想趁着这个小黄金周，装点一下自己的家居，也不失为一种讨好自己的休闲方式。</p>
    <p>如果你想利用假日装扮你的厨卫上层空间，那可千万别忘了惠临巴迪斯各大专卖店哦！最具市场竞争力的产品以及贴心的礼品、服务会让你流连忘返，或称心回家。</p>
    <p>巴迪斯，作为业内最具规模的生产型企业之一，目前在市场网络上已日益成熟，在国内截止目前为止近700个专卖店，在国外已与40多个国家的客户展开合作。近18年的精耕细作换得今天的成绩，公司总部为回馈全球的新老用户，特在5月1日-8日举行“龙腾虎跃，激情分享”的促销活动。活动期间，公司为前来装修的朋友设计厨卫上层空间的解决方案，并配套店内上百种花款扣板的挑选，及上千种装修案例的演示，既有复古中国风的东方气质型风格、也有欧洲浪漫风情的典雅风格等，每一种设计与搭配，不仅仅是做到视觉感官上的完美享受，同时也充分考虑客户家居的整体装修风格，做到整体统一、珠联璧合、完美搭配。</p>
    <p>此外，公司总部为了真情回馈广大客户，特在礼品上也做了用心的选择，公司坚决杜绝一切花哨的东西，一切以客户为中心，所送的精美大礼除实用之外也包含了公司浓浓的祝福。</p>
    <p> <span>五一促销活动时间：2010年5月1日——8日</span> <span>活动主题：巴迪斯“五月抄底选购集结号”</span> <span>活动地点：巴迪斯全国各大专卖店</span> </p>
    <p>本次活动的最终解释权归巴迪斯公司所有，详情请咨询巴迪斯全国各大专卖店。</p>
  </div>
</div>
</body>
</html>
