<%= error_messages_for :vendor %>
<% form_for( :vendor, :url => vendors_path, :html => {:name => "vendors_form", :multipart => true} ) do |f| -%>
	<%= render :partial => "form", :locals => {:f => f} -%>
<% end -%>

