<div>
  <p>更改 <%= @k_tag.keyword %>--><%= @k_tag.tag %></p>
</div>
<form action="" method="post">
  请输入标签对应关系:<br />
  <input name="keyword" id ="father_tag" type="text" value="" size="20"/> --->
  <input name="tag" id ="tag_tag" type="text" value="" size="40"/><br />
  <input name="submit" type="submit" value="提交" />
</form>