<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>上和家选装修公司 免费入住汉庭</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript" src="http://js.51hejia.com/js/jquery.colorbox-min.js"></script>
<link type="text/css" media="screen" rel="stylesheet" href="http://js.51hejia.com/colorbox/exp1/colorbox.css" />
<style type="text/css">
*{ margin:0; padding:0;}
.hidden {display: none;}
.center {text-align: center}
div{ margin:0 auto;}

body{ background:#fff7af url(http://zt.51hejia.com/zhuanti/nbxzximg/bg1.jpg) top repeat-x;}

.box{ width:960px;}

.box1{ height:77px;}
.box1_1{ width:480px; height:77x; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_01.jpg) no-repeat; float:left;}
.box1_1 a{ display:block; width:125px; height:77px; float:left;}
.box1_2{ width:480px; height:77px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_02.jpg) no-repeat; float:left;}
.box1_2 a{ display:block; width:480px; height:77px;}

.box2{ height:77px;}
.box2_1{ width:480px; height:77px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_03.jpg) no-repeat; float:left;}
.box2_1 a{ display:block; width:480px; height:77px;}
.box2_2{ width:480px; height:77px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_04.jpg) no-repeat; float:left;}
.box2_2 a{ display:block; width:480px; height:77px;}

.box3{ height:77px;}
.box3_1{ width:480px; height:77px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_05.jpg) no-repeat; float:left;}
.box3_1 a{ display:block; width:480px; height:77px;}
.box3_2{ width:480px; height:77px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_06.jpg) no-repeat; float:left;}
.box3_2 a{ display:block; width:480px; height:77px;}

.box4{ height:77px;}
.box4_1{ width:281px; height:77px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_07.jpg) no-repeat; float:left;}
.box4_1 a{ display:block; width:281px; height:77px;}
.box4_2{ width:679px; height:77px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_08.jpg) no-repeat; float:left;}
.box4_2 p{ width:620px; font-size:12px; line-height:21px; text-indent:2em; margin:5px 0 0 5px;}

.box5{ height:77px;}
.box5_1{ width:480px; height:77px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_09.jpg) no-repeat; float:left;}
.box5_1 a{ display:block; width:480px; height:77px;}
.box5_2{ width:480px; height:77px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_10.jpg) no-repeat; float:left;}
.box5_2 a{ display:block; width:480px; height:77px;}

.box6{ height:77px;}
.box6_1{ width:480px; height:77px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_11.jpg) no-repeat; float:left;}
.box6_1 a{ display:block; width:480px; height:77px;}
.box6_2{ width:480px; height:77px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_12.jpg) no-repeat; float:left;}
.box6_2 a{ display:block; width:480px; height:77px;}

.box7{ height:77px;}
.box7_1{ width:480px; height:77px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_13.jpg) no-repeat; float:left;}
.box7_1 a{ display:block; width:480px; height:77px;}
.box7_2{ width:480px; height:77px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_14.jpg) no-repeat; float:left;}
.box7_2 a{ display:block; width:480px; height:77px;}

.box8{ height:77px;}
.box8_1{ width:480px; height:77px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_15.jpg) no-repeat; float:left;}
.box8_1 a{ display:block; width:480px; height:60px;}
.box8_2{ width:480px; height:77px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_16.jpg) no-repeat; float:left;}
.box8_2 a{ display:block; width:480px; height:60px;}

.box9{ height:234px;}
.box9_1{ width:209px; height:234px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_17.jpg) no-repeat; float:left;}
.box9_1 input{ width:119px; height:28px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/baoming.jpg) no-repeat; float:left; border:none; margin:16px 0 0 56px; cursor:pointer;}
.box9_2{ width:182px; height:234px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_18.jpg) no-repeat; float:left;}
.box9_2 input{ width:119px; height:28px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/baoming.jpg) no-repeat; float:left; border:none; margin:16px 0 0 32px; cursor:pointer;}
.box9_3{ width:182px; height:234px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_19.jpg) no-repeat; float:left;}
.box9_3 input{ width:119px; height:28px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/baoming.jpg) no-repeat; float:left; border:none; margin:16px 0 0 32px; cursor:pointer;}
.box9_4{ width:180px; height:234px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_20.jpg) no-repeat; float:left;}
.box9_4 input{ width:119px; height:28px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/baoming.jpg) no-repeat; float:left; border:none; margin:16px 0 0 32px; cursor:pointer;}
.box9_5{ width:207px; height:234px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_21.jpg) no-repeat; float:left;}
.box9_5 input{ width:119px; height:28px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/baoming.jpg) no-repeat; float:left; border:none; margin:16px 0 0 32px; cursor:pointer;}

.box9_a1{ width:80px; height:20px; font-size:14px; text-decoration:none; color:#000; float:left; margin:8px 0 0 81px;}
.box9_a2{ width:80px; height:20px; font-size:14px; text-decoration:none; color:#000; float:left; margin:8px 0 0 55px;}
.box9_a3{ width:80px; height:20px; font-size:14px; text-decoration:none; color:#000; float:left; margin:8px 0 0 88px;}
.box9_a4{ width:80px; height:20px; font-size:14px; text-decoration:none; color:#000; float:left; margin:8px 0 0 62px;}
.box9_span1{ width:100px; height:18px; font-size:12px; color:#ffb500; float:left; margin:7px 0 0 70px;}
.box9_span2{ width:100px; height:18px; font-size:12px; color:#ffb500; float:left; margin:7px 0 0 50px;}

.box10{ height:57px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_22.jpg) no-repeat;}

.box11{ height:41px; background:url(http://zt.51hejia.com/zhuanti/nbxzximg/ningbo_23.jpg) no-repeat;}


.ad01_a{ display:block; width:151px; height:110px; margin:26px 0 0 42px; _margin-left:21px; float:left}
.ad01_a img{ width:151px; height:110px; border:0px;}
.ad02_a{ display:block; width:151px; height:110px; margin:26px 0 0 16px; _margin-left:8px; float:left}
.ad02_a img{ width:151px; height:110px; border:0px;}

.baom_btn { background:#fff; border:3px solid #fff7af; font-size:12px; color:#f60; padding:10px; margin: 5px;}
.baom_btn label {width: 40px}
.baom_btn div { padding:5px 10px; line-height:30px;}
.baom_btntj { padding:3px 10px;*padding:2px 5px;}
</style>

</head>

<body>
<div class="box box1">
<div class="box1_1"><a href="http://z.51hejia.com/zhuangxiugongsi/?utm_source=xhjt&utm_medium=64dangdi" title="装修列表" target="_blank"></a></div>
<div class="box1_2"><a href="http://z.51hejia.com/zhuangxiugongsi/?utm_source=xhjt&utm_medium=64dangdi" title="装修列表" target="_blank"></a></div>
</div>

<div class="box box2">
<div class="box2_1"><a href="http://z.51hejia.com/zhuangxiugongsi/?utm_source=xhjt&utm_medium=64dangdi" title="装修列表" target="_blank"></a></div>
<div class="box2_2"><a href="http://z.51hejia.com/zhuangxiugongsi/?utm_source=xhjt&utm_medium=64dangdi" title="装修列表" target="_blank"></a></div>
</div>

<div class="box box3">
<div class="box3_1"><a href="http://z.51hejia.com/zhuangxiugongsi/?utm_source=xhjt&utm_medium=64dangdi" title="装修列表" target="_blank"></a></div>
<div class="box3_2"><a href="http://z.51hejia.com/zhuangxiugongsi/?utm_source=xhjt&utm_medium=64dangdi" title="装修列表" target="_blank"></a></div>
</div>

<div class="box box4">
<div class="box4_1"><a href="http://z.51hejia.com/zhuangxiugongsi/?utm_source=xhjt&utm_medium=64dangdi" title="装修列表" target="_blank"></a></div>
<div class="box4_2"><p>我们怀着对家的美好期许开始了装修旅程，选装潢公司、挑设计师、采购建材、督促施工、寻找家具……可是，新房未装，装修期间我们住哪里？租房？借住父母家？还是借住朋友家？和家网联合汉庭酒店推出“装房送房”优惠活动，凡通过和家网报名装修的业主，均可获得宁波汉庭酒店两晚入住券。</p></div>
</div>

<div class="box box5">
<div class="box5_1"><a href="http://z.51hejia.com/zhuangxiugongsi/?utm_source=xhjt&utm_medium=64dangdi" title="装修列表" target="_blank"></a></div>
<div class="box5_2"><a href="http://z.51hejia.com/zhuangxiugongsi/?utm_source=xhjt&utm_medium=64dangdi" title="装修列表" target="_blank"></a></div>
</div>

<div class="box box6">
<div class="box6_1"><a href="http://z.51hejia.com/zhuangxiugongsi/?utm_source=xhjt&utm_medium=64dangdi" title="装修列表" target="_blank"></a></div>
<div class="box6_2"><a href="http://z.51hejia.com/zhuangxiugongsi/?utm_source=xhjt&utm_medium=64dangdi" title="装修列表" target="_blank"></a></div>
</div>

<div class="box box7">
<div class="box7_1"><a href="http://z.51hejia.com/zhuangxiugongsi/?utm_source=xhjt&utm_medium=64dangdi" title="装修列表" target="_blank"></a></div>
<div class="box7_2"><a href="http://z.51hejia.com/zhuangxiugongsi/?utm_source=xhjt&utm_medium=64dangdi" title="装修列表" target="_blank"></a></div>
</div>

<div class="box box8">
<div class="box8_1"><a href="http://z.51hejia.com/zhuangxiugongsi/?utm_source=xhjt&utm_medium=64dangdi" title="装修列表" target="_blank"></a></div>
<div class="box8_2"><a href="http://z.51hejia.com/zhuangxiugongsi/?utm_source=xhjt&utm_medium=64dangdi" title="装修列表" target="_blank"></a></div>
</div>

<%
  cols = 5
  rows = (@companies.size + cols - 1) / cols
  cache_key = "marketing:register:%d".freeze
  rows.times do |row|
%>
<div class="box box9">
<%
    @companies[row * cols ... (row + 1) * cols].each_with_index do |company, index|
      first = index == 0
%>
<div class="box9_<%= index + 1 %>"><a class="ad0<%= first ? 1 : 2 %>_a" href="<%= company[:url] %>" title="<%= company[:name] %>" target="_blank"><img src="<%= company[:img] %>"/></a>
<a href="<%= company[:url] %>" class="box9_a<%= first ? 3 : 4 %>" title="<%= company[:name] %>" target="_blank"><strong><%= company[:name] %></strong></a>
<input type="button" data-id="<%= company[:id] %>" /><span class="box9_span<%= first ? 1 : 2 %>"><strong>已有<span id="count_<%= company[:id] %>"><%= REDIS_DB.llen(cache_key % company[:id]) %></span>人报名</strong></span></div>
<% end %>
</div>
<div class="box box<%= row < rows - 1 ? 10 : 11 %>"></div>
<% end %>

<div class="hidden">
<div id="register-form" class="baom_btn">
  <form action="http://www.51hejia.com/huodong/register" method="post">
    <input id="company_id_field" type="hidden" name="id" />
    <div>
      <p>请准确填写您的信息，以方便我们联系您：</p>
      <div>
        <label for="name">姓名：</label><input name="name" type="text" />
      </div>
      <div>
        <label for="phone">电话：</label><input name="phone" type="text" />
      </div>
      <div class="center">
        <input name="提交" type="submit" value="提交信息" class="baom_btntj" />
      </div>
    </div>
  </form>
</div>
</div>

<script type="text/javascript">
  jQuery(function($) {
    function updateCount(id, num) {
      $('#count_' + id).text(num);
    }

    $(':button').click(function(event) {
      $('#company_id_field').val($(this).attr('data-id'));
    });

    $(':button').colorbox({
      inline: true,
      href: '#register-form'
    });

    $('#register-form form').submit(function(event) {
      var submitBtn = $(this).find(':submit');
      submitBtn.attr('disabled', 'disabled');

      $.ajax({
      <% if RAILS_ENV == 'development' %>
        url: 'http://test.51hejia.com:4000/huodong/register',
      <% else %>
        url: 'http://www.51hejia.com/huodong/register',
      <% end %>
        type: 'POST',
        data: $(this).serialize(),
        dataType: 'json',

        error: function(request) {
          var msg = request.responseText;
          if(!msg || msg == '') msg = '很抱歉，处理发生错误，请稍后重试。';
          alert(msg)
          submitBtn.attr('disabled', null);
        },

        success: function(data) {
          updateCount(data.id, data.count);
          alert('报名成功。');
          $.fn.colorbox.close();
          submitBtn.attr('disabled', null);
        }
      });

      event.preventDefault();
      return false;
    });
  });
</script>
<!--statistics_code-->
<script type="text/javascript">
  var _gaq = _gaq || [];

  _gaq.push(
    ['_setAccount', 'UA-7619267-1'],
    ['_setDomainName', '.51hejia.com'],
    ['_addOrganic', "baidu", "kw"],
    ['_addOrganic', "baidu", "word"],
    ['_addOrganic', "soso", "w"],
    ['_addOrganic', "3721", "name"],
    ['_addOrganic', "yodao", "q"],
    ['_addOrganic', "vnet", "kw"],
    ['_addOrganic', "sogou", "query"],
    ['_trackPageview']
  );

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] ||
    document.getElementsByTagName('body')[0]).appendChild(ga);
  })();
</script>

<script type="text/javascript">
  var _raq = _raq || [];
  _raq.push(
    ['_setAccount', 'UA-7619267-1'],
    ['_setDomainName', '.51hejia.com'],
    ['_addOrganic', "baidu", "kw"],
    ['_addOrganic', "baidu", "word"],
    ['_addOrganic', "soso", "w"],
    ['_addOrganic', "3721", "name"],
    ['_addOrganic', "yodao", "q"],
    ['_addOrganic', "vnet", "kw"],
    ['_addOrganic', "sogou", "query"],
    ['_trackPageview']
  );

  (function() {
    var ra = document.createElement('script'); ra.type = 'text/javascript'; ra.async = true;
    ra.src = 'http://js.51hejia.com/ra.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ra, s);
  })();
</script>
<!-- baidu statistics_code  -->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F413eb88661221537985a18b6638be957' type='text/javascript'%3E%3C/script%3E"));
</script>
<!--end_baidu statistics_code-->
<script src="http://s1.datamaster.com.cn/dma.js?4c08b1b48fe0a" type="text/javascript"></script>
<!--end_statistics_code-->
</body>
</html>
