<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>和家网 - 用户系统</title>
    <meta name="keywords" content="家庭装修，室内装潢，房子装潢，房屋装修，室内装修设计图片，家居装修图片，家装效果图，室内装修效果图片，室内装饰效果图片，装修论坛" />
    <meta name="description" content="中国最大最专业的装修家居信息服务网站，主要包括家庭装修，室内装潢，房子装潢，房屋装修，室内装修设计图片，家居装修图片，家装效果图，室内装修效果图片 室内装饰效果图片，装修论坛等" />
    <link href="http://js.51hejia.com/css/header914.css?99170917" rel="stylesheet" type="text/css" />
    <%= javascript_include_tag :defaults unless @include_jquery == true %>
    <script src="http://www.51hejia.com/js/wenba/imgscroll.js" type="text/javascript"></script>
    <link href="http://www.51hejia.com/css/bbs/global.css" rel="stylesheet" type="text/css" />
    <link href="http://www.51hejia.com/css/bbs/default.css" rel="stylesheet" type="text/css" />
    <link href="http://www.51hejia.com/css/bbs/user_base.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/WebCalendar_utf.js" charset="utf8"></script>
    <%= stylesheet_link_tag "deco" %>
    <script type="text/javascript" src="/javascripts/public2.js" charset="gb2312"></script>
    <script src="/javascripts/tiny_mce/tiny_mce_src.js?1249024270" type="text/javascript"></script><script type="text/javascript">
      //<![CDATA[
      tinyMCE.init({
        convert_urls : false,
        editor_selector : 'mceEditor',
        language : 'zh',
        mode : 'textareas',
        plugins : "table,fullscreen,upload",
        relative_urls : false,
        theme : 'advanced',
        theme_advanced_buttons1 : 'bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,formatselect,fontselect,fontsizeselect,|,outdent,indent,blockquote,|,undo,redo',
        theme_advanced_buttons2 : 'tablecontrols,|,hr,removeformat,visualaid,code |,hr,removeformat,visualaid,|,link,unlink,anchor,image,upload,cleanup,|,forecolor,backcolor,code',
        theme_advanced_buttons3 : '',
        theme_advanced_resize_horizontal : false,
        theme_advanced_resizing : false,
        theme_advanced_statusbar_location : 'bottom',
        theme_advanced_toolbar_align : 'left',
        theme_advanced_toolbar_location : 'top',
        visual : false,
        width: 615
      });
      //]]>
    </script>

    <script type="text/javascript">
      function documentWrite(innerH)
      {
        document.write(innerH);
      }
    </script>
    <script type="text/javascript">
      function bookmarksite(title, url){
        if (document.all)
          window.external.AddFavorite(url, title);
        else if (window.sidebar)
          window.sidebar.addPanel(title, url, "")
      }
    </script>
    <%= yield(:head)%>
  </head>

  <body>
    <%=render :partial => "/common/ga"%>
    <!--header-->
    <%= render :partial => "/share/public_header"%>

    <div id=usermain style="margin-top:5px;" class="clearfix">
      <div class=user_left>
        <div id=sidebar>
          <div id="logo_bottom"></div>
          <div id=sidebar_content>
            <div id=sidebar_item1>
              <div class=app_list>
                <div class=list_item>
                  <div class=container>
                    <a href="/member/userinfo" class=link_title style="background-image: url(http://www.51hejia.com/images/user/account.gif)">个人资料</a>
                  </div>
                  <div class=container>
                    <a href="/member/userpw" class=link_title style="background-image: url(http://www.51hejia.com/images/user/introduce.gif)">修改密码</a>
                  </div>
                </div>
              </div>
            </div>
            <div id=sidebar_item2 style="border-bottom: #d6d6d6 1px solid">
              <div class=app_list>
                <div class=list_item style="padding-left: 50px">
                  <div class=fontgray><b><!--我自己的--></b></div>
                </div>
              </div>
            </div>
            <div id="sidebar_item2" style="border-bottom: #d6d6d6 1px solid; height:479px;">
              <div class="app_list">
                <div class="list_item" style="padding-left: 50px"></div>

                <ul id="sidebar_item">
                  <li><a href="/decos/edit" title="您可以在这里修改公司信息">公司信息</a></li>
                  <li><a href="/decos/contacts" title="您可以在这里修改公司联系方式">公司地址</a></li>
                  <li><a href="/deco/factory_list" title="您可以在这里修改在建工地">在建工地</a></li>
                  <li><a href="/deco/designer_list" title="您可以在这里修改设计师信息">设计师</a></li>
                  <li><a href="/deco/case_list" title="您可以在这里修改装修案例信息">装修案例</a></li>
                  <li><a href="/decos/deco_ideas" title="您可以在这里修改设计理念"><%= (REDIS_DB.get("deco_idea_#{@firm.id}").nil? || REDIS_DB.get("deco_idea_#{@firm.id}") == "" || (REDIS_DB.get("deco_idea_#{@firm.id}") && REDIS_DB.get("deco_idea_#{@firm.id}").squeeze(" ") == " ")) ? '设计理念' : REDIS_DB.get("deco_idea_#{@firm.id}")%></a></li>
                  <li><%= link_to "服务承诺","/decos/deco_services",:title => "您可以在这里修改服务承诺" %> </li>
                  <li><%= link_to "常规报价",quoted_prices_path,:title => "您可以在这里修改常规报价" %> </li>
                  <% if staff_logged_in? %>
                    <li><a href="/decos/events" title="您可以在这里修改装修案例信息">装修活动</a></li>
                  <% end %>
                  <li><a href="/decos/photos" title="您可以在这里修改施工图片信息">施工图片</a></li>
                  <li style='display:none;'><a href="/decos/diaries" title="您可以在这里修改装修日记信息">装修日记</a></li>
                  <li><a href="/decos/registers" title="您可以在这里查看活动报名信息">在建工地报名</a></li>
                  <li><a href="/decos/store_photos" title="您可以在这里上传公司门店照片">门店照片</a></li>
                  <li><a href="/decos/glory_certificates" title="您可以在这里上传公司荣誉证书">荣誉证书</a></li>
                  <li><%= link_to "预约免费量房报名",applicants_path,:title => "您可以在这里确认预约免费量房报名" %></li>
                  <li style="display:none;"><span><a href="/decos/quotations" title="您可以在这里查看报价单信息">报价单</a></span></li>
                  <li><a href="/decos/manage_comments" title="您可以在这里查看报价单信息">留言管理</a></li>
                  <!--li><a href="/decos/bid_records" title="您可以在这里查看竞标列表信息">有效竞标列表</a></li-->
                  <%
                  qq = get_city_qq(@firm)
                  if qq && qq[0].to_s.size > 0
                  %>
                    <li>
                      <a href="http://sighttp.qq.com/cgi-bin/check?sigkey=<%=qq[1]%>";
                         target=_blank;
                         onclick="var tempSrc='http://sighttp.qq.com/wpa.js?rantime='+Math.random()+'&sigkey=<%=qq[1]%>';
                         var oldscript=document.getElementById('testJs');
                         var newscript=document.createElement('script');
                         newscript.setAttribute('type','text/javascript');
                         newscript.setAttribute('id', 'testJs');
                         newscript.setAttribute('src',tempSrc);
                         if(oldscript == null)
                         {document.body.appendChild(newscript);}
                         else
                         {oldscript.parentNode.replaceChild(newscript, oldscript);}
                         return false;">
                         <img border="0" SRC='http://wpa.qq.com/pa?p=1:<%=qq[0]%>:1' alt="交谈--留言"/>
                      </a>
                    </li>
                  <%end%>
                </ul>

                <br class="clear" />
              </div>
              <br class="clear" />
            </div>
          </div></div>
      </div>

      <%=yield%>
    </div>
    <%=render :partial => "/share/public_footer"%>

    <iframe name="hideiframe" width="0" height="0" style="display: none;"></iframe>

  </body>
</html>
