<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>用户管理 - <%=WEBSITE_NAME%>[<%=WEBSITE_DOMAIN%>]</title>
<meta name="keywords" content="<%=WEBSITE_NAME%>">
<meta name="description" content="<%=WEBSITE_NAME%>">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="all" />
<meta name="author" content="MSN: qq1713173@hotmail.com" />
<script type="text/javascript" src="/javascripts/public2.js" charset="gb2312"></script>
<link href="/stylesheets/wrapper01.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#datalist {
    border-collapse:collapse;
    border:1px solid #BED0E2;
}
#datalist th 
{
text-align:center;
    font-family:Verdana;
    padding: 5px 15px 3px 15px;
    letter-spacing: 12px;
    background-color: #45719C;
    font-size: 14px;
    color: white;
    font-weight: normal;
    text-decoration: none;
    border:1px solid white;
}
#datalist td {
    color: #757575;
    font-family:Verdana;
    padding: 5px 8px 5px 8px;
    letter-spacing: 1px;
    font-size: 9pt;
    border:1px solid #D9E3EE;
}
#datalist a {
    color: #2853FF;
    text-decoration: none;
}
#datalist a:hover {
    color: #FD352B;
    text-decoration: none;
}
.nav{ 
background:url(http://www.51hejia.com/images/zhuangxiu805/iconav.png) left center no-repeat; 
line-height:27px; 
color:#666666; 
padding-left:15px; 
margin:10px 12px 0 12px; 
}
</style>
</head>
<body>
	<div id="H_wrapper">
            <%=render :file => "/bgmenu.rhtml"%>
	</div>

	<div id="L_wrapper">
          
          <input onclick="self.location.href='/user/list';" style="width:83px" type="button" value="所有用户" class="btn1_mouseout" onmouseover="this.className='btn1_mouseover'" onmouseout="this.className='btn1_mouseout'" /><br />
          <%
          i = 0
          h = get_webpm("role")
          for k in h.keys
          %>
          <input onclick="self.location.href='/user/list?role=<%=k%>';" style="width:83px" type="button" value="<%=h[k]%>" class="btn1_mouseout" onmouseover="this.className='btn1_mouseover'" onmouseout="this.className='btn1_mouseout'" /><br />
          <%
          i += 1
          end
          %>
          <input onclick="self.location.href='/user/list?state=1';" style="width:83px" type="button" value="禁用用户" class="btn1_mouseout" onmouseover="this.className='btn1_mouseover'" onmouseout="this.className='btn1_mouseout'" /><br />
          <input onclick="self.location.href='/user/new';" style="margin-top:5px;width:83px" type="button" value="创建用户" class="btn1_mouseout" onmouseover="this.className='btn1_mouseover'" onmouseout="this.className='btn1_mouseout'" /><br />
	</div>

	<div id="R_wrapper">
	<div class="nav"><strong></strong><%= location -%></div>
            <%=yield%>
	</div>
        
<iframe width="0" height="0" name="hideiframe" id="hideiframe"></iframe>
</body>
</html>